### Work space 
- data name = setwd("파일명")
- data name1 = read.csv("파일명")

### Data frame 
- data1 = data.frame(이름지정, 이름지정,,,,,,)
- data$(보여야할 변수 지정)

### Vector

In [8]:
x = c(67, 83, 96, 90, 85)
x
x[2];
x[5] = 90
x

[1] 67 83 96 90 85

[1] 83

[1] 67 83 96 90 90

### Matrix 
- matrix(data=NA(일반적으로 수열로 데이터 입력), nrow=행의 수, ncol=열의 수, byrow=FALSE(열부터 채움))
* < 행렬(matrix)의 병합 >
    * cbind : 열로 병합.
    * rbind : 행으로 병합.
    * solve() : 역행렬 함수

In [7]:
M = matrix(seq(1, 9),  3)
M_1 = matrix(seq(1, 9),  3, byrow=T)
M ; M_1

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

### 사칙연산 기본 연산 

- (1+1/100)^100

- 17%%5 : 나머지(%%)

- 17%/%5 : 몫(%/%)

- exp()

- option(difits=(자리수))

- pi

- sin(pi/6)

- floor() : 올림함수

- ceiling() : 반올림함수

- round(숫자, digits=0(~번째 소수점)): 반올림

- seq(from=, to=, by=등차 수, length.out=출력(길이) 수) : 수열

- rep((데이터), (반복 횟수)) : 반복

- sqrt : 제곱근

- mean : 평균

- rank : 순위

- sort() : 보통 이것 대신 패키지 사용하여 활용.

In [14]:
x = 100 : 110
i = c(1,2,3)
x[i]

# -index는 그것 제외를 의미.
j = c(-1, -2, -3) 
x[j]

# 벡터의 길이
length(x)

[1] 100 101 102

[1] 103 104 105 106 107 108 109 110

[1] 11

### 주의 : x*y; x/y; x^y (수학적 개념을 벗어남) => 길이가 다른 벡터의 합은 구할 수 없다. 그러나 R에서는 돌아감.

In [17]:
x = c(1, 2, 3)
y = c(4, 5, 6)
x+y
x-y

# 수학적 개념을 벗어나는 연산.
c(1, 2, 3, 4) + c(1, 2)
2 + c(1, 2, 3)
(1:10)^2
(1:10)^c(1, 2)

[1] 5 7 9

[1] -3 -3 -3

[1] 2 4 4 6

[1] 3 4 5

 [1]   1   4   9  16  25  36  49  64  81 100

 [1]   1   4   3  16   5  36   7  64   9 100

### 결측값

In [27]:
# c = NA
d = c(1, NA, 2)

# is.na(c) : c에 NA(결측)이 존재하는가?  
# is.na(d) : d에 NA(결측)이 존재하는가?  

# 평균의 데이터에 결측이 있으면 NA 반출.
mean(d)

# NA가 있으면 제외시키고 평균을 구하시오.
mean(d,na.rm=T)  
mean(na.omit(d))

[1] NA

[1] 1.5

[1] 1.5

### 논리 연산자

In [28]:
x = c(1,NA,4,3,4)

# 결측 부분은 결측으로 반환.
x > 2

# subset(x(데이터:벡터 데이터 프레임 행렬 등), x>2(조건))


# 2로 나누었을 때 나머지가 1이 되는 위치
which(x%%2==1)

[1] FALSE    NA  TRUE  TRUE  TRUE

[1] 1 4

In [25]:
## 주의
# sqrt 무한소수이기 때문에 실제로 FALSE로 반환됨.
sqrt(2)*sqrt(2)==2

## 결론 => 이와 같은 방식을 사용함.
all.equal(sqrt(2)*sqrt(2), 2)

[1] FALSE

[1] TRUE

### 실습 1.1 정적분(구분구적법)을 활용하여 다음을 계산 하시오.

$$ \int_{0}^{\pi/6} \cos x\, dx $$

In [29]:
dx =.005
x = seq(0, pi/6, dx)
f = cos(x)
sum(f)*dx # (높이의 합* 밑변)

[1] 0.5015487

※ 밑(dx)를 좀 더 작게 나눈다면??

In [30]:
# 어디로 수렴하는가에 대해서도 생각해보기.
dx1 =.1
dx2 = 1e-2
dx3 = 1e-3
dx4 = 1e-4

x1 = seq(0,pi/6,dx1)
x2 = seq(0,pi/6,dx2)
x3 = seq(0,pi/6,dx3)
x4 =seq(0,pi/6,dx4)

f1 = cos(x1)
f2 = cos(x2)
f3 = cos(x3)
f4 = cos(x4)

x1 = sum(f1)*dx1
x2 = sum(f2)*dx2
x3 = sum(f3)*dx3
x4 = sum(f4)*dx4

data.frame(x1,x2,x3,x4)

  x1        x2        x3        x4
1 0.5729051 0.5062151 0.5004145 0.5000078

### 실습 1.2 다음 함수의 극한값 조사하시오.

$$ \lim_{x \to \infty}(x+\frac{1}{x})^x $$

In [32]:
x = seq(1,10000, length.out=30)
(1+1/x)^x

 [1] 2.000000 2.714362 2.716316 2.716970 2.717298 2.717494 2.717625 2.717719
 [9] 2.717789 2.717844 2.717888 2.717924 2.717953 2.717979 2.718000 2.718019
[17] 2.718036 2.718050 2.718063 2.718074 2.718085 2.718094 2.718103 2.718110
[25] 2.718118 2.718124 2.718130 2.718136 2.718141 2.718146

### 실습 2.1 
- 결측이 포함된 다음 자료 x=1, 2, NA, 4, 5, 6, 7, 8, NA, 110에서 다음을 계산하시오.

1. 결측을 제외한 평균
2. 결측을 평균으로 보정한 평균
3. 위의 결과에서 이상치라고 판단되는 110을 제외한 평균을 계산하시오.

In [33]:
x = c(1, 2, NA, 4, 5, 6, 7, 8, NA, 110)

# 결측을 평균으로 보정.
y = mean(x, na.rm=T)
x[is.na(x)] = y

mean(x)
mean(x[-10], na.rm=T)
mean(subset(x, x<=y))

[1] 17.875

[1] 7.638889

[1] 7.638889

In [37]:
x = c(1, 2, NA, 4, 5, 6, 7, 8, NA, 110)
mean(x, na.rm=T)

# 결측을 중앙값으로 보정.
x[is.na(x)] = median(x, na.rm=T)

mean(x)

# mean(subset(x, x<10))
mean(x[1:9], na.rm=T)

[1] 17.875

[1] 15.4

[1] 4.888889

### 실습 2.2 다음의 행렬의 역행렬을 구하시오.

\begin{pmatrix} 1 & 2 & 3 \\ 0 & 7 & 5 \\ 3 & 2 & 9 \end{pmatrix}

In [43]:
a = c(1, 0, 3, 2, 7, 2, 3, 5, 9)
A = matrix(a, 3, 3)
round( solve(A), 3 )

     [,1]  [,2] [,3]
[1,]  2.65 -0.6 -0.55
[2,]  0.75  0.0 -0.25
[3,] -1.05  0.2  0.35