#### 파일 읽기.

- setwd(' 파일 경로 ') : 파일 경로 설정.
---
- getwd() : 현재 경로.
---
- read.table() : 데이터 읽기.
---
- header : 자료의 1행이 변수명인 경우 True(T) 값 지정.
---
- colnames( data ) = c('변수명') : 변수명이 지정되지 않았거나, 수정할 경우 이용.
---
- sep : 파일 형식(구분자) 설정. 
---
- skip : 불필요행(시작 부분) 제외.
---
- comment.char : 문서에 불필요한 행(주석) 제외.
---
- na.strings : 결측값 처리.
---
- read.csv(), read_excel(), read_sas(), read_spss() 등 여러가지 확장자에 따른 읽기 함수 존재.
---
* list.files('파일 경로') :  파일 목록을 가져옴.
    * list.files('하위 폴더') : 작업 폴더 내의 하위 영역의 파일 목록을 가져올 수 있음.
    * list.files('특정 폴더', pattern='문자') : 특정 문자가 포함된 파일명만 가져올 수도 있음.
    * list.files(full.names=T) : 하위 폴더가 포함된 경로를 포함한 파일명을 불러옴.
---    
- list.dirs('폴더 경로') :  파일 목록을 가져옴.

#### 반복문을 통한 폴더 내의 모든 파일을 병합.

In [3]:
fn = list.files("DATA_C3/DATAS", pattern = 'data', full.names = T)
Data_a = data.frame()

for (i in 1 : length(fn)){
    data_i = read.csv(fn[i])
    Data_a = rbind(Data_a, data_i)
}
dim(Data_a)

[1] 300   3

#### 파일 쓰기.

- wirte.table(데이터명, '파일명')
---
- sep : 구분자 지정.
---
- na : 결측값 지정.
---
- row.names : 행 이름 포함.(T/F)
---
- col.names : 열 이름 지정.
---
- wirte.csv() 도 동일한 방식으로 사용.

#### 실습 1.1 DATA_PRACTICE.csv 파일을 불러와서 다음의 작업을 수행하시오.
- 1열은 SEASON, 2열은 PROTEIN으로 변수명을 지정하시오.
- 9999 값은 결측값으로 처리할 것.
- SEASON이 3인 경우, PROTEIN의 평균을 계산하시오.(결측은 제외)

In [25]:
data = read.csv('DATA_C3/DATA_PRACTICE.csv',na.strings = 9999, 
                comment.char = '%')
colnames(data) = c('SEASON', 'PROTEIN')
mean(data$PROTEIN[data$SEASON==3], na.rm=T)

[1] 20.8194

#### 실습 1.2 SEASON_3 폴더의 파일들을 하나의 파일로 병합하시오.

In [35]:
fn = list.files("DATA_C3/SEASON_3", full.names = T)
Data = data.frame()
fn

for (i in 1 : length(fn)){
    data_i = read.csv(fn[i])
    Data   = rbind(Data, data_i)
}
dim(Data)
head(Data)
tail(Data)

[1] "DATA_C3/SEASON_3/M-1.csv" "DATA_C3/SEASON_3/M-2.csv"
[3] "DATA_C3/SEASON_3/M-3.csv" "DATA_C3/SEASON_3/M-4.csv"

[1] 110   5

  GROUP SEASON MOISTURE LIPID     PROTEIN
1 M-1   3      68.79    10.542095   20.94
2 M-1   3      70.91     7.084225 9999.00
3 M-1   3      68.04     9.839588   22.87
4 M-1   3      67.08    10.441647   21.99
5 M-1   3      67.11    10.666334 9999.00
6 M-1   3      73.07     4.047251   22.29

    GROUP SEASON MOISTURE LIPID    PROTEIN
105 M-4   3      74.22    3.803098 19.98
106 M-4   3      74.77    3.643160 21.25
107 M-4   3      74.60    3.561112 20.09
108 M-4   3      71.58    7.198482 19.84
109 M-4   3      72.43    6.865582 20.10
110 M-4   3      71.83    6.895693 20.10

#### 실습 1.3 실습 1.2에서 작성한 파일을 다음의 규칙에 맞게 저장하시오.
- csv 파일 형식.
- 결측값은 -999로 지정.
- 행이름 제거, 열이름 포함.

In [37]:
write.csv('Data', 'test_data', row.names=F, na='-999')