In [8]:
# 설치.
# install.packages("dplyr")
library(dplyr)

- < dplyr의 기본 함수 >

    * filter : 지정한 조건에 맞는 데이터 추출
    * select : 열의 추출
    * mutate : 열 추가
    * arrange : 정렬
    * summaraise : 집계

In [5]:
getwd()

[1] "C:/Users/pnu/R -data analysis"

In [6]:
data = read.table("DATA_C3/DATA_ORI.txt", header=T)
head(data)

  GROUP SEASON MOISTURE LIPID     PROTEIN
1 M-1   3      68.79    10.542095 20.94
2 M-1   3      68.64    10.891383 21.26
3 M-1   3      68.75     9.960100 18.77
4 M-1   3      69.90     7.202396 22.57
5 M-1   3      69.93     6.833447 18.47
6 M-1   3      69.88     7.748732 23.10

In [13]:
# filter 함수 : 지정한 조건에 맞는 데이터 추출.
head( filter(data, SEASON==3) )
head( filter(data,MOISTURE>78 | SEASON==3) )
filter(data,MOISTURE>78 & SEASON==3)

  GROUP SEASON MOISTURE LIPID     PROTEIN
1 M-1   3      68.79    10.542095 20.94
2 M-1   3      68.64    10.891383 21.26
3 M-1   3      68.75     9.960100 18.77
4 M-1   3      69.90     7.202396 22.57
5 M-1   3      69.93     6.833447 18.47
6 M-1   3      69.88     7.748732 23.10

  GROUP SEASON MOISTURE LIPID     PROTEIN
1 M-1   3      68.79    10.542095 20.94
2 M-1   3      68.64    10.891383 21.26
3 M-1   3      68.75     9.960100 18.77
4 M-1   3      69.90     7.202396 22.57
5 M-1   3      69.93     6.833447 18.47
6 M-1   3      69.88     7.748732 23.10

  GROUP SEASON MOISTURE LIPID     PROTEIN
1 M-4   3      78.99    0.6640040 20.14
2 M-4   3      78.18    0.6179915 19.56
3 M-4   3      78.60    0.6633747 19.57

In [14]:
# filter 함수 사용 없이 데이터 추출.
#비교(위와 동일)
head( data[data$SEASON==3,] )
data[data$MOISTURE>78 & data$SEASON==3,]

  GROUP SEASON MOISTURE LIPID     PROTEIN
1 M-1   3      68.79    10.542095 20.94
2 M-1   3      68.64    10.891383 21.26
3 M-1   3      68.75     9.960100 18.77
4 M-1   3      69.90     7.202396 22.57
5 M-1   3      69.93     6.833447 18.47
6 M-1   3      69.88     7.748732 23.10

    GROUP SEASON MOISTURE LIPID     PROTEIN
100 M-4   3      78.99    0.6640040 20.14
101 M-4   3      78.18    0.6179915 19.56
102 M-4   3      78.60    0.6633747 19.57

In [15]:
# select 함수 : 조건에 따라 열(변수)를 추출하는 함수(분석시 유용).
head( select(data, SEASON) )
head( select(data, GROUP, SEASON) )
head( select(data, GROUP, SEASON, PROTEIN) )

  SEASON
1 3
2 3
3 3
4 3
5 3
6 3

  GROUP SEASON
1 M-1   3
2 M-1   3
3 M-1   3
4 M-1   3
5 M-1   3
6 M-1   3

  GROUP SEASON PROTEIN
1 M-1   3      20.94
2 M-1   3      21.26
3 M-1   3      18.77
4 M-1   3      22.57
5 M-1   3      18.47
6 M-1   3      23.10

In [20]:
# data[,c(2,3)] : 2(SEASON)번째 3(MOISURE)번째 열을 8개만 뽑아옴.
data[ 1 : 8,c("SEASON", "MOISTURE")]

  SEASON MOISTURE
1 3      68.79
2 3      68.64
3 3      68.75
4 3      69.90
5 3      69.93
6 3      69.88
7 3      71.90
8 3      71.59

In [22]:
# mutate 함수 : 데이터에 열(변수)을 추가하는 함수.
head( mutate(data, rate=MOISTURE/PROTEIN) )
head( mutate(data, rate=MOISTURE/PROTEIN, per=rate*100) )

  GROUP SEASON MOISTURE LIPID     PROTEIN rate
1 M-1   3      68.79    10.542095 20.94   3.285100
2 M-1   3      68.64    10.891383 21.26   3.228598
3 M-1   3      68.75     9.960100 18.77   3.662760
4 M-1   3      69.90     7.202396 22.57   3.097031
5 M-1   3      69.93     6.833447 18.47   3.786140
6 M-1   3      69.88     7.748732 23.10   3.025108

  GROUP SEASON MOISTURE LIPID     PROTEIN rate     per
1 M-1   3      68.79    10.542095 20.94   3.285100 328.5100
2 M-1   3      68.64    10.891383 21.26   3.228598 322.8598
3 M-1   3      68.75     9.960100 18.77   3.662760 366.2760
4 M-1   3      69.90     7.202396 22.57   3.097031 309.7031
5 M-1   3      69.93     6.833447 18.47   3.786140 378.6140
6 M-1   3      69.88     7.748732 23.10   3.025108 302.5108

In [25]:
## arrange 함수 : 지정한 열(변수)를 기준으로 오름차순/내림차순 정렬. 내림일 경우, desc()를 함께 사용.
arrange(data[1:10,], SEASON, desc(MOISTURE))

   GROUP SEASON MOISTURE LIPID     PROTEIN
1  M-1   3      71.91     5.484032 21.15
2  M-1   3      71.90     5.175482 21.05
3  M-1   3      71.59     6.242545 20.60
4  M-1   3      70.30     6.140744 22.39
5  M-1   3      69.93     6.833447 18.47
6  M-1   3      69.90     7.202396 22.57
7  M-1   3      69.88     7.748732 23.10
8  M-1   3      68.79    10.542095 20.94
9  M-1   3      68.75     9.960100 18.77
10 M-1   3      68.64    10.891383 21.26

In [27]:
## summarise 함수 : 기초통계량 계산, 결과값은 데이터 프레임 전환.
summarise(data,mean(MOISTURE),mean(PROTEIN))

# 결측이 존재하는 경우.
summarise(data, mean(PROTEIN, na.rm=TRUE))

  mean(MOISTURE) mean(PROTEIN)
1 68.29043       NA

  mean(PROTEIN, na.rm = TRUE)
1 20.54975

In [29]:
## by_group 함수 : 지정한 열의 수준에 따라 그룹화된 결과를 출력
data1 = group_by(data,SEASON)
summarise(data1, mean(MOISTURE), sd(MOISTURE))

  SEASON mean(MOISTURE) sd(MOISTURE)
1 3      72.66900       3.469044
2 4      71.30953       4.568269
3 5      70.04175       4.731216
4 6      63.56992       3.914364
5 7      63.86196       4.384471

### 실습 1.1 DATA_ORI.txt 파일을 불러와서 다음의 작업을 수행하시오. (R기본 코드를 사용한 방법과 dplyr을 활용한 방법 모두 쓸 것.)

- 1). 3,4,5 SEASON만 추출하시오.
- 2). GROUP,LIPID값만 추출하시오.
- 3). Group에 따른 평균, 표준편차를 계산하시오.

In [30]:
# dplyr 패키지를 활용하면 간단한 코드 구현만으로도 데이터 전처리가 용이.
data = read.table("DATA_C3/DATA_ORI.txt", header=T)
data1 = filter(data, SEASON<=5)
data1_1 = select(data1, GROUP, LIPID)
data1_2 = group_by(data1_1, GROUP) 
a = summarise(data1_2, mean(LIPID), sd(LIPID))
a

  GROUP mean(LIPID) sd(LIPID)
1 M-1   9.270583    3.980397
2 M-2   7.759602    4.096502
3 M-3   6.852270    4.416319
4 M-4   2.734679    2.780121

In [60]:
# 패키지를 활용하지 않고도 아래와 같이 구할 수는 있으나 다소 번거로움이 존재.
data2   = data[data$SEASON==3 | data$SEASON==4 | data$SEASON==5,]
data2_1 = data2[,c("GROUP", "LIPID")]

dataM_1 = data2_1[data2_1$GROUP=="M-1",] 
dataM_2 = data2_1[data2_1$GROUP=="M-2",]  
dataM_3 = data2_1[data2_1$GROUP=="M-3",] 
dataM_4 = data2_1[data2_1$GROUP=="M-4",] 

m1 = mean(dataM_1$LIPID)
m2 = mean(dataM_2$LIPID)
m3 = mean(dataM_3$LIPID)
m4 = mean(dataM_4$LIPID)
m  = data.frame(m1,m2,m3,m4)

sd1 = sd(dataM_1$LIPID)
sd2 = sd(dataM_2$LIPID)
sd3 = sd(dataM_3$LIPID)
sd4 = sd(dataM_4$LIPID)
s  = data.frame(sd1,sd2,sd3,sd4)

name1 = rbind('Mean', 'Std')
colnames(name1) = c('Group')

colnames(m) = c('M-1', 'M-2', 'M-3', "M-4")
colnames(s) = c('M-1', 'M-2', 'M-3', "M-4")
t = rbind(m,s)
cbind(name1, t)

  Group M-1      M-2      M-3      M-4
1 Mean  9.270583 7.759602 6.852270 2.734679
2 Std   3.980397 4.096502 4.416319 2.780121