#### Factors : 범주형 자료(객관식)의 입력과 표현 : level지정에서 character와 차이.

In [1]:
hair = c("blond","black","brown","brown","black","gray","none") 
is.character(hair) # 이 데이터가 문자인가? : T
levels(hair)       # 문자열 변수이기 때문에 null로 생성.

[1] TRUE

NULL

In [2]:
is.factor(hair)
hair = factor(hair) # 범주형 변수로 지정. 
levels(hair)        # 5개의 변수가 범주로서 지정됨.

[1] FALSE

[1] "black" "blond" "brown" "gray"  "none"

#### 범주 지정 factor는 levels을 줌으로써, 없었던 변수를 넣을 수 있음.

In [3]:
hair1 = factor(hair, levels=c("blond","black","brown","gray","none","white"))
levels(hair1)

# 데이터에 대한 테이블 생성.
table(hair1)

[1] "blond" "black" "brown" "gray"  "none"  "white"

hair1
blond black brown  gray  none white
    1     2     2     1     1     0

In [4]:
a = c("a","a","b", "b")
a = factor(a, levels=c("a","b","c"))
a[5] = "c"
levels(a)

[1] "a" "b" "c"

#### 순서형 변수

In [5]:
# 순서가 지정되지 않기에 돌아가지 않는 코드.
grade = c("L","H","H","L","M","M")
grade = factor(grade,levels=c("L","M","H"))
grade > "L"

Warning message in Ops.factor(grade, "L"):
"'>' not meaningful for factors"

[1] NA NA NA NA NA NA

In [6]:
# ordered를 줌으로서 순서(단 ordered를 주기 위해서 levels 지정이 꼭 필요)
grade = factor(grade,levels=c("L","M","H"),ordered=T)
grade >"L"

[1] FALSE  TRUE  TRUE FALSE  TRUE  TRUE

In [7]:
# 같은 코드 : 순서가 따로지정되지 않으면 알파벳 순으로 출력됨.
# 단, labels : 결과를 보여줄 때만 지정된 값으로 표출. 데이터는 L,M,H로 이루어짐.
table(grade)
grade = factor(grade,levels=c("L","M","H"),labels=c("Low","Medium","high"),ordered=T)
table(grade)

grade
L M H
2 2 2

grade
   Low Medium   high
     2      2      2

#### data.frame

In [8]:
data = read.table("DATA_C3/DATA_ORI.txt",header=T)
head(data) # 앞에서 6번째 까지 표출.
tail(data) # 뒤에서 6번째 까지 표출.

# 기본적인 data.frame을 표출, 자료변수 특징.(변수가 적을 때 유용) 
str(data) 

# 변수명 확인.
names(data)
# as.character(name) 

colnames(data) = names(data) # data의 열이름(일반적으로) : 변수명이라고 생각.  
names(data) = c("G","S","M","L","P")
colnames(data)

# vector의 개념 이용해서 변수 생성도 가능.
data$A = data$M/data$P

# A 변수가 새로 생긴 것을 볼 수 있음.
data[1:10,]

  GROUP SEASON MOISTURE LIPID     PROTEIN
1 M-1   3      68.79    10.542095 20.94
2 M-1   3      68.64    10.891383 21.26
3 M-1   3      68.75     9.960100 18.77
4 M-1   3      69.90     7.202396 22.57
5 M-1   3      69.93     6.833447 18.47
6 M-1   3      69.88     7.748732 23.10

    GROUP SEASON MOISTURE LIPID   PROTEIN
595 M-4   7      60.4183  18.9872 19.54
596 M-4   7      61.2029  18.8002 18.98
597 M-4   7      60.8175  18.6977 19.29
598 M-4   7      63.3667  13.9113 20.34
599 M-4   7      63.6561  14.0033 20.42
600 M-4   7      64.2829  14.3548 20.67

'data.frame':	600 obs. of  5 variables:
 $ GROUP   : Factor w/ 4 levels "M-1","M-2","M-3",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ SEASON  : int  3 3 3 3 3 3 3 3 3 3 ...
 $ MOISTURE: num  68.8 68.6 68.8 69.9 69.9 ...
 $ LIPID   : num  10.54 10.89 9.96 7.2 6.83 ...
 $ PROTEIN : num  20.9 21.3 18.8 22.6 18.5 ...

[1] "GROUP"    "SEASON"   "MOISTURE" "LIPID"    "PROTEIN"

[1] "G" "S" "M" "L" "P"

   G   S M     L         P     A
1  M-1 3 68.79 10.542095 20.94 3.285100
2  M-1 3 68.64 10.891383 21.26 3.228598
3  M-1 3 68.75  9.960100 18.77 3.662760
4  M-1 3 69.90  7.202396 22.57 3.097031
5  M-1 3 69.93  6.833447 18.47 3.786140
6  M-1 3 69.88  7.748732 23.10 3.025108
7  M-1 3 71.90  5.175482 21.05 3.415677
8  M-1 3 71.59  6.242545 20.60 3.475243
9  M-1 3 71.91  5.484032 21.15 3.400000
10 M-1 3 70.30  6.140744 22.39 3.139795

#### attach() : 데이터 변수명을 작업공간에 인식시켜, 변수명만으로 작업 가능.

In [9]:
attach(data)
table(G)
head(data)

G
M-1 M-2 M-3 M-4
150 150 150 150

  G   S M     L         P     A
1 M-1 3 68.79 10.542095 20.94 3.285100
2 M-1 3 68.64 10.891383 21.26 3.228598
3 M-1 3 68.75  9.960100 18.77 3.662760
4 M-1 3 69.90  7.202396 22.57 3.097031
5 M-1 3 69.93  6.833447 18.47 3.786140
6 M-1 3 69.88  7.748732 23.10 3.025108

In [10]:
# attach를 이용해서 위와 같은 방식으로도 이용이 가능.
data$B = A*100
names(data)

[1] "G" "S" "M" "L" "P" "A" "B"

#### detach() : attach의 반대 개념.

In [11]:
# 다시 원상 복귀 시킨 것을 알 수 있음.
detach(data) 
table(G)

ERROR: Error in table(G): 객체 'G'를 찾을 수 없습니다

#### list : 다양한 형태의 객체를 하나의 객체로 표현.

In [12]:
my.list = list("one", TRUE, 3, c("f","o","u","r"))
my.list
my.list[[2]] 

# [[]] : list를 가져오는 것을 의미
my.list[[1]]

# my.list[4][1] 와 같은 결과 값을 가져옴.
my.list[4] 

# list 서랍을 열어서 1번째를 가져온 것.
my.list[[4]][1] 

# list 서랍 자체를 가져온 것.
my.list[4][1]

[[1]]
[1] "one"

[[2]]
[1] TRUE

[[3]]
[1] 3

[[4]]
[1] "f" "o" "u" "r"

[1] TRUE

[1] "one"

[[1]]
[1] "f" "o" "u" "r"

[1] "f"

[[1]]
[1] "f" "o" "u" "r"

In [16]:
## 사용할 때 이렇게 사용 추천.
my.list = list(fst="one", snd=TRUE, trd=3, fth=c("f","o","u","r"))
print( my.list )

print( my.list$fst )
print( my.list$fth[4] )

$fst
[1] "one"

$snd
[1] TRUE

$trd
[1] 3

$fth
[1] "f" "o" "u" "r"

[1] "one"
[1] "r"

In [15]:
# 하나의 벡터로 변환.
print( unlist(my.list) )

   fst    snd    trd   fth1   fth2   fth3   fth4
 "one" "TRUE"    "3"    "f"    "o"    "u"    "r"

#### 실습1 “DATA_ORI.txt”파일을 불러와서 다음의 list를 만드시오.

* 자료를 ‘data‘ 이름으로 list에 입력하시오
    * (1). GROUP의 범주 이름을 ‘group_name’으로 list에 추가하시오.
    * (2). MOISTURE, PROTEIN, LIPID의 summary결과를 list에 추가하시오.
    * (3). MOISTURE와 PROTEIN의 비를 RATIO로 list에 추가하시오

In [17]:
data = read.table("DATA_C3/DATA_ORI.txt", header=T)

list = list(data=data)
list$group_name = levels(data$GROUP)
names(list)

list$M_results = summary(data$MOISTURE)
list$P_results = summary(data$PROTEIN)
list$L_results = summary(data$LAPID)
data$A = (data$MOISTURE)/(data$PROTEIN)
list$RATIO = data$A
names(list)

[1] "data"       "group_name"

[1] "data"       "group_name" "M_results"  "P_results"  "L_results"
[6] "RATIO"