#### apply : R에서 반복된 작업을 간단하게 처리하는 함수.

In [6]:
M = matrix(1:10, nrow=2)
M

# 행 평균을 구해줌.
apply(M, 1, mean)

# 열 평균을 구해줌.
apply(M, 2, mean)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

[1] 5 6

[1] 1.5 3.5 5.5 7.5 9.5

#### taply : 자료의 부분집합에 대하여 함수를 수행하는 함수.

In [10]:
data = read.table("DATA_C3/DATA_ORI.txt", header=T)
data[1:7,]

  GROUP SEASON MOISTURE LIPID     PROTEIN
1 M-1   3      68.79    10.542095 20.94
2 M-1   3      68.64    10.891383 21.26
3 M-1   3      68.75     9.960100 18.77
4 M-1   3      69.90     7.202396 22.57
5 M-1   3      69.93     6.833447 18.47
6 M-1   3      69.88     7.748732 23.10
7 M-1   3      71.90     5.175482 21.05

In [14]:
# 그룹과 시즌에 따른 MOISTURE의 평균.
tapply(data[, c("MOISTURE")], data[, c("GROUP",'SEASON')], mean)

     SEASON
GROUP 3        4        5        6        7
  M-1 71.00200 68.43519 65.30133 60.11836 57.84907
  M-2 72.23000 69.91247 67.88267 64.08902 65.48889
  M-3 73.38667 70.52430 71.10000 64.09186 67.01004
  M-4 74.05733 76.36617 75.88300 65.98042 65.09983

In [16]:
# 그룹과 시즌에 따른 MOISTURE의 표준편차.
tapply(data[, c("MOISTURE")], data[, c("GROUP",'SEASON')], sd)

     SEASON
GROUP 3        4        5        6        7
  M-1 2.152142 2.912742 3.712430 4.161458 2.694434
  M-2 3.413939 3.372408 2.416155 3.415157 3.097129
  M-3 3.539859 4.526688 2.266509 3.279968 2.057197
  M-4 3.868317 2.762639 1.603791 2.058970 2.412815

#### sapply : 여러 행/열에 함수를 동시에 적용하여 벡터(Vector)로 출력하는 함수.

In [19]:
sapply(data[,3:5], mean, na.rm=T)

MOISTURE    LIPID  PROTEIN
68.29043  9.68337 20.54975

#### lapply : 여러 행/열에 함수를 동시에 적용하여 리스트(List)로 출력하는 함수

In [20]:
lapply(data[,3:5], mean, na.rm=T)

$MOISTURE
[1] 68.29043

$LIPID
[1] 9.68337

$PROTEIN
[1] 20.54975

#### 실습 1.1 data_ori.txt 파일을 불러와서 다음의 작업을 진행하시오.

- function 함수를 이용하여 Average absolute deviation을 계산하는 함수를 작성하시오.
- tapply를 써서 GROUP별로 MOISTURE의 AAD값을 계산하시오.
- sapply(lapply)를 써서 MOISTURE,LIPID,PROTEIN의 값을 계산하시오.

In [25]:
# Average absolute deviation 함수.
aad = function(x){
    x = na.omit(x)
    return(mean(abs(x-mean(x))))
}

In [34]:
tapply(data$MOISTURE, data$GROUP, aad)

     M-1      M-2      M-3      M-4
4.998111 3.532176 3.738296 5.080679

In [36]:
# na.rm이 직접 만든 함수 aad에는 없는 옵션이기 때문에 돌아가지 않음.
# 따라서 함수 지정시 결측을 제거해줄 필요가 있음.
# sapply(data[,3:5], aad, na.rm=T) : 위 경우 사용 불가능.
sapply(data[,3:5], aad)

 MOISTURE     LIPID   PROTEIN
4.6336991 4.9315800 0.8577873