#### DATA_001 데이터에서 다음의 작업을 수행하시오.
- A군과 B군에 대한 독립표본 t-검정을 수행하여 다음의 표를 작성하시오.
- 1 ~ 4까지의 TYPE에 대하여 다음의 95% 신뢰구간을 계산하시오.

In [1]:
# 데이터 읽기.
data = read.table('DATA_C3/DATA_001.csv', header = T, sep=",")
head(data)

# 데이터 나누기.
A_data = data[data$GROUP == 'A',]
B_data = data[data$GROUP == 'B',]

# 독립표본 t 검정.
test = t.test(A_data$POINT, B_data$POINT)

# 정보.
MEAN = round(tapply(data$POINT, data$GROUP, mean), 2)
SD = round(tapply(data$POINT, data$GROUP, sd), 2)
p = round(test$p.value, 3)
t = round(test$statistic, 3)

# 결합.
A = cbind(MEAN[1], SD[1], t, p)
B = cbind(MEAN[2], SD[2], NA, NA)
Data = rbind(A, B)
colnames(Data) = c('MEAN', 'SD', 't','p')
Data

  GROUP POINT     TYPE
1 A      9.481191 3
2 A     12.906092 2
3 A     11.187425 3
4 A      9.272283 4
5 A      9.249437 2
6 A     11.178074 2

  MEAN  SD   t      p
A 10.18 1.92 -1.214 0.226
B 10.52 1.99     NA    NA

In [24]:
# Mean.
Mean = round(tapply(data$POINT, data$TYPE, mean), 5)

# 신뢰구간 for문을 통해 구하기.
confi = tapply(data$POINT, data$TYPE, t.test)
lower = list()
upper = list()
for (i in 1 : 4){
    lower[[i]] = round(confi[[i]]$conf.int[1], 5)
    upper[[i]] = round(confi[[i]]$conf.int[2], 5)
}
name1 = c('TYPE1', 'TYPE2','TYPE3','TYPE4')
data1 = cbind(name1 ,Mean, lower, upper)
colnames(data1) = c('', 'Mean', 'lower', 'upper')
data1

        Mean     lower    upper
1 TYPE1 10.29881 9.76212  10.83551
2 TYPE2 10.25463 9.72356  10.7857
3 TYPE3 10.55499 10.00254 11.10744
4 TYPE4 10.26921 9.64917  10.88926